/********************************************************/
/* Max-Width 1200PX     *********************************/
/********************************************************/
@media (max-width: 1200px) {
    /*Start Filter Button */
    .container-btn {
        display: block;
        margin: auto 20px;
        overflow: hidden;
    }

    .searchbar .search {
        display: flex;
        margin: 0px;
        text-align: center;
    }

    .searchbar input[type=text] {
        width: 100%;
        margin: 0;
    }

    .btn-group .button {
        padding: 10px;
        font-size: 14px;
        width: 32%;
        display: block;
        margin-left: 0px;
        float: left;
        margin-right: 0px;
    }

    .btn-group .button.btn-2 {
        margin-right: 2%;
    }

    .btn-group {
        display: block;
        margin-top: 10px;
    }
    /*End Filter Button */

    /* Start Content Card */
    .container {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    .item.filterDiv {
        max-width: 45%;
        min-height: 250px;
        margin: 10px;
        margin-left: 2%;
        margin-bottom: 20px;
    }

    /* End Content Card */

}


/********************************************************/
/* Min-Width 993PX     **********************************/
/********************************************************/
@media (min-width: 992px) {

}



/********************************************************/
/* Max-Width 991PX     **********************************/
/********************************************************/
@media (max-width: 991px) {

    /*Start Filter Button */
    .container-btn {
        display: block;
        margin: auto 20px;
        overflow: hidden;
    }

    .searchbar .search {
        display: flex;
        margin: 0px;
        text-align: center;
    }

    .searchbar input[type=text] {
        width: 100%;
        margin: 0;
    }

    .btn-group .button {
        padding: 10px;
        font-size: 14px;
        width: 32%;
        display: block;
        margin-left: 0px;
        float: left;
        margin-right: 0px;
    }

    .btn-group .button.btn-2 {
        margin-right: 2%;
    }

    .btn-group {
        display: block;
        margin-top: 10px;
    }
    /*End Filter Button */

    /* Start Content Card */
    .container {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    .item.filterDiv {
        max-width: 43%;
        min-height: 250px;
        margin: 10px;
        margin-left: 3%;
        margin-bottom: 20px;
    }

    /* End Content Card */


}


/********************************************************/
/* Max-Width 767PX     **********************************/
/********************************************************/
@media (max-width: 767px) {

 
    /*Start Filter Button */
    .container-btn {
        display: block;
        margin: auto 20px;
        overflow: hidden;
    }

    .searchbar .search {
        display: flex;
        margin: 0px;
        text-align: center;
    }

    .searchbar input[type=text] {
        width: 100%;
        margin: 0;
    }

    .btn-group .button {
        padding: 10px;
        font-size: 14px;
        width: 32%;
        display: block;
        margin-left: 0px;
        float: left;
        margin-right: 0px;
    }

    .btn-group .button.btn-2 {
        margin-right: 2%;
    }

    .btn-group {
        display: block;
        margin-top: 10px;
    }
    /*End Filter Button */

    /* Start Content Card */
    .container {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    .item.filterDiv {
        max-width: 41%;
        min-height: 280px;
        margin: 10px;
        margin-left: 3%;
        margin-bottom: 20px;
    }

    /* End Content Card */
	
}



/********************************************************/
/* Max-Width 576PX     **********************************/
/********************************************************/
@media (max-width: 576px) {
    
    /*Start Top Alert */
    .alert.info {
    }

    .alert {
        padding: 15px;
        font-size: 20px;
        margin: 20px;
    }

    .closebtn {
        font-size: 30px;
        line-height: 16px;
        margin-top: 5px;
    }
    /* End Top Alert */

    /*Start Filter Button */
    .container-btn {
        display: block;
        margin: auto 20px;
    }

    .searchbar .search {
        display: flex;
        margin: 0px;
        text-align: center;
    }

    .searchbar input[type=text] {
        width: 100%;
        margin: 0;
        padding: 15px;
    }

    .btn-group .button {
        padding: 14px 0;
        font-size: 15px;
        width: 48%;
        display: block;
        margin-left: 0px;
        float: left;
        margin-right: 0px;
    }

    .btn-group .button.btn-1 {
        margin-right: 4%!important;
    }

    .btn-group .button.btn-2 {
        margin-right: 0%;
    }

    .btn-group {
        display: block;
        margin-top: 10px;
    }
    /*End Filter Button */

    /* Start Content Card */
    .container {
        display: block;
        margin-left: 0;
    }

    .item.filterDiv {
        margin: 10px 20px;
        max-width: 100%;
        min-height: 100%;
    }

    .tag {
        bottom: 10px;
        position: relative;
    }

    .type {
        padding: 10px 10px;
        font-size: 14px;
    }

    /* .imgframe img {
        width: 60%;
    }

    .imgframe {
        width: 60px;
        height: 60px;
    } */

    .titlediv {
        min-height: 60px;
    }

    .item.filterDiv.Libros{
        margin-top: 20px;
    }

    p {
        font-size: 17px;
        line-height: 22px;
    }

    .title {
        font-size: 20px;
    }

    /* End Content Card */

}